body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #FFF;
}

.top-header {
  position: sticky;
  z-index: 99;
  top: 0;
  margin: 0 auto;
  width: 100%;
  min-height: 70px;
  margin: 0 auto;
  background-color: #235390;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.header-logo-box {
  width: 154px;
  height: 36px;
}

.header-text-language {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.25px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.header-text-language span {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  overflow: auto;
  top: 40px;
  transform: translateX(-100px);
}

.dropdown-content ul {
  width: 420px;
  height: 580px;
  padding: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  color: #777;
  background-color:#ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  list-style-type: none;
  color: #777;
  font-size: 11px;
  font-weight: 500;
}

.dropdown-content li {
  display: flex;
  align-items: center;
  justify-items: start;
  padding: 2px 10px;
  border-radius: 10px;
  gap: 10px;
  width: 193px;
  height: 42px;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: #e5e5e5;
}

.dropdown-content img {
  height: 16px;
  max-width: 22px;
  border-radius: 4px;
  filter: saturate(150%);
}

.header-text-language:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
}

a {
  all: unset;
  cursor: pointer;
}

.header-navigation a:hover {
  text-decoration: underline;
}

.middle-header {
  height: calc(100vh - 70px - 70px);
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(img/background.png);
}

@media (max-width: 950px) { 
  .middle-header {
    height: auto;
  }
}

.box-for-center-middle-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1400px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login h1 {
  width: 586px;
  text-align: center;
  margin-bottom: 48px;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.login button {
  width: 320px;
  height: 46px;
  margin-bottom: 20px;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.button-get-started {
  border: none;
  border-radius: 16px;
  background: #58CC02;
  box-shadow: 0px 4px 0px 0px #58A700;
  transition: all 0.3s linear;
}

.button-have-account {
  border-radius: 16px;
  border: 2px solid #042C60;
  background: #235390;
  box-shadow: 0px 2px 0px 0px #042C60;
  transition: all 0.3s linear;
}

.button-have-account:hover {
  cursor: pointer;
  background-color: #1f4b82;
}

.button-get-started:hover {
  cursor: pointer;
  background-color: #61e002;
}

.button-get-started:hover,
.button-have-account:hover {
  cursor: pointer;
  transform: translate(0px, -5px);
  box-shadow: 0px 4px 15px 0px rgba(255, 255, 255, 0.69);
}

.header-navigation {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A4A82;
}

.header-navigation ul {
  width: 60vw;
  height: 74px;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-navigation li {
  margin: 5px;
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}

.header-navigation li:hover {
  transform: scale(1.1);
}

main {
  margin: 0 auto;
  width: 60vw;
  max-width: 1400px;

}

h2 {
  color: #3C3C3C;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

p {
  color: #777;
  font-size: 15px;
  font-weight: 500;
  line-height: 25.5px;
}

hr {
  border: 1px solid #E5E5E5;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 250px;
}

.about-duolingo-box {
  margin: 40px 0;
  max-width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
}

.link-in-text-grey {
  margin: 0;
  text-decoration: underline;
  font-weight: 700;
}

.link-in-text-blue {
  margin: 0;
  padding: 0;
  color: #1CB0F6;
}

.left-container img,
.right-container img {
  width: 44px;
  height: 44px;
  margin: 12px 12px 0 0;
}

.why-learn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 48px;
  margin: 40px 0;
}

@media (max-width: 845px) {
  .why-learn {
    grid-template-columns: auto;
  }
}

.effective,
.personalized,
.motivated,
.fun {
  display: flex;
}

.text-link {
  color: #1CB0F6;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transition: all 0s;
}

.text-link:hover {
  color: #22d3ff;
}

.button-app-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.download-app {
  width: 192px;
  height: 62px;
  gap: 12px;
  display: flex;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  border: 2px solid #E5E5E5;
  background: #FFF;
  box-shadow: 0px 2px 0px 0px #e5e5e5;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.download-app:hover {
  background-color: #e5e5e5;
  border: 2px solid #cecece;
  box-shadow: 0px 2px 0px 0px #cecece;
}

.download-app p:first-child {
  margin: 0;
  color: #4B4B4B;
  font-size: 11px;
  font-weight: 700;
  line-height: 18.2px;
}

.download-app p:last-child {
  margin: 0;
  color: #4B4B4B;
  font-size: 14px;
  font-weight: 700;
  line-height: 22.4px;
}

.text-in-button-app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer {
  padding-top: 80px;
  margin: 0;
  background-image: url(img/background.png);
}

.footer-get-started-box {
  margin: 0 auto;
  width: 60vw;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  margin-bottom: 48px;
}

.footer-get-started-box h1 {
  color: #FFF;
  text-align: center;
  font-size: 29px;
  font-weight: 700;
  line-height: 40px;
}

.site-map-box {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 1065px;
  padding: 24px 40px;
}

.site-map-column {
  padding: 0 24px 48px 0;
  width: 170px;
}

.site-map-column p,
.site-language p {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.site-map-column li,
.site-language li {
  color: rgba(255, 255, 255, 0.50);
  font-size: 13px;
  font-weight: 700;
  line-height: 22.5px;
  list-style-type: none;
  margin-top: 10px;
}

.site-map-column li:hover,
.site-language li:hover {
  text-decoration: underline;
}

footer hr {
  max-width: 1065px;
  border: 1px solid #4f75a6;
}

.site-language p {
  padding: 0 40px;

}

.site-language {
  margin: auto;
  max-width: 1065px;
}

.site-language ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 30px;
}

.site-language li {
margin: 5px 10px;
}